{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block body %}



{% endblock %}

<!--
{% block searchBar %}

  <form>
      <div class="form-row justify-content-center">
        <div class="col-lg-2 mb-2">
           <label for"searchCategory">Category</label>
          <select class="form-control" placeholder="Choose Category" id="searchCategory">
            <option disabled selected>Category</option>
            {% for cat in expCategories %}
              <option value="{{ cat['id'] }}">{{ cat['label'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-4 mb-2">
          <label for="searchSearch">What do you want to look for?</label>
          <input class="form-control" placeholder="Search" id="searchSearch">
        </div>
        <div class="col-xs-2 mb-2">
          <label for"searchMin">Minimum Amount</label>
          <input class="form-control w-100" placeholder="min" min="0" step="0.01" id="searchMin" type="number">
        </div>
        <div class="col-xs-2 mb-2">
          <label for"searchMax">Maximum Amount</label>
          <input class="form-control w-100" placeholder="max" min="0" step="0.01" id="searchMin" type="number">
        </div>
        <div class="col-lg-2 mb-2">
          <label for"searchMonth">Month</label>
          <select class="form-control" id="searchMonth">
            <option selected>Jan</option>
            <option>Dec</option>
            <option>Nov</option>
          </select>
        </div>
        <div class="col-lg-1">
          <button class="btn btn-primary w-100" type="submit">Search</button>
        </div>
      </div>
  </form>

  <hr>

{% endblock %}
-->



{% block main %}


<div class="mb-5">
  <h1>Transactions</h1>
  <hr>
</div>


<div class="btn-group mb-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary material-icons" id="prev_month" onclick="changeMonthIndex('prev')">keyboard_arrow_left</button>
  <button type="button" class="btn btn-primary material-icons" id="next_month" onclick="changeMonthIndex('next')">keyboard_arrow_right</button>
</div>

<div id="monthly_expenses">

</div>

<script>
  document.addEventListener("DOMContentLoaded", changeMonthIndex('curr'))
</script>

{% include 'editTransactionModals.html' %}

{% endblock %}
