<div class="mb-2">
  <p>{{ month['month_name'] }} {{ month['YEAR'] }}</p>
</div>

<div class="mb-4 bg-light p-2 rounded">
  <div class="row">
    <div class="col-4 text-success">
      <b>€ {{ month['inc_per_month'] }}</b>
    </div>
    <div class="col-4 text-danger">
      <b>€ {{ month['exp_per_month'] }}</b>
    </div>
    <div class="col-4">
      <b>€ {{ month['saldo'] }}</b>
    </div>
  </div>
</div>

{% for day in days %}

  <div class="table-responsive pb-5 rounded">

    <table class="table table-hover shadow-sm border">
      <thead class="thead-light rounded-top">
        <tr class="text-left d-flex">
          <th scope="col" class="col-2 bg-primary text-center text-white">{{ day['DAY'] }}.{{ day['MONTH'] }}</th>
          <th scope="col" class="col-4"></th>
          <th scope="col" class="text-success col">€ {{ day['inc_per_day'] }}</th>
          <th scope="col" class="text-danger col">€ {{ day['exp_per_day']}}</th>
          <th scope="col" class="col-2">€ {{ day['saldo'] }}</th>
        </tr>
      </thead>

      {% for transaction in transactions %}

      {% if transaction['DAY'] == day['DAY'] %}

      <tbody>
        <tr class="text-left d-flex">
          <td class="col-2">
            {% if transaction['exp'] == 1 %}
              {{ transaction['category'] }}
            {% endif %}
          </td>
          <td class="col-4">
            {% if transaction['notes'] %}
              <i>{{ transaction['notes'] }}</i>
            {% endif %}
          </td>
          <!-- Income -->
          <td class="col text-success">
            {% if transaction['exp'] == 0  %}
              € {{ transaction['amount'] }}
            {% endif %}
          </td>
          <!-- Expense -->
          <td class="col text-danger">
            {% if transaction['exp'] == 1 %}
              € {{ transaction['amount']  }}
            {% endif %}
          </td>
          <td class="col-2">
            <button type="button" class="btn btn-outline-primary" href="" onclick="lookup(this.value)" value="{{ transaction['id'] }}" data-toggle="modal" data-target={% if transaction['exp'] == 1 %} "#editExpModal" {% else %} "#editIncModal" {% endif %}>Edit</button>
            <button type="button" class="btn btn-outline-danger" href="" onclick="deleteTransaction(this.value)" value="{{ transaction['id'] }}" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </td>
        </tr>
      </tbody>

      {% endif %}

      {% endfor %}

    </table>

  </div>

{% endfor %}


