{% extends "layout.html" %}

{% block title %}
    {{ tripData['title'] }}
{% endblock %}

{% block body %}

onload="changeMonthTrip('curr')"

{% endblock %}


{% block searchBar %}



{% endblock %}


{% block main %}



<div class="mb-5">
  <h1>{{ tripData['title'] }}</h1>
  <hr>
</div>

<div class="d-flex justify-content-center mb-4">
<img src="https://www.countryflags.io/be/flat/64.png">
<img src="https://www.countryflags.io/bj/flat/64.png">
</div>

<div class="row text-left">
  <div class="col-md-6 mb-4">
    <div class="col-12">
      <div class="row mb-2 bg-light p-2 rounded border">
        {{ tripData['startDay'] }} {{ tripData['startMonth_name'] }}. {{ tripData['startYear'] }} - {{ tripData['endDay'] }} {{ tripData['endMonth_name'] }}. {{ tripData['endYear'] }}
      </div>
      <div class="row mb-2 bg-light p-2 rounded border">
        <span>Duration: <b>{{ tripData['duration'] }} day{% if tripData['duration'] > 1 %}s{% endif %}</b></span>
      </div>
      <div class="row mb-2">
        <div class="col bg-light p-2 mr-4 rounded border">
          <span>Total expenses: <br><b>€ {{ tripData['SUM'] }}</b></span>
        </div>
        <div class="col bg-light p-2 rounded border">
          <span>Daily average spent: <br><b>€ {{ tripData['daily_average'] }}</b></span>
        </div>
      </div>
      <div class="row">
          <button type="button" class="btn btn-outline-primary btn-block" onclick="lookup(this.value)" value="{{ tripData['id'] }}" data-toggle="modal" ddata-target="#editTripModal"=>Edit Trip</button>
          <button type="button" class="btn btn-outline-danger btn-block" onclick="deleteTransaction(this.value)" value="{{ tripData['id'] }}" data-toggle="modal" data-target="#deleteTripModal">Delete Trip</button>
      </div>

    </div>
  </div>
  {% if tripData['SUM'] != '0.00' %}
  <div class="col-md-6 mb-4">
    <canvas id="myChart" aria-label="chart" role="img"></canvas>
  </div>
  {% endif %}
</div>

{% if tripData['SUM'] != '0.00' %}
<div class="d-flex flex-row justify-content-center mt-5">
  <div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary material-icons" id="prev_month" onclick="changeMonthTrip('prev')">keyboard_arrow_left</button>
    <button type="button" class="btn btn-primary material-icons" id="next_month" onclick="changeMonthTrip('next')">keyboard_arrow_right</button>
  </div>
</div>

<div id="monthly_expenses">

</div>
{% endif %}

{% if tripData['SUM'] != '0.00' %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var labels = [];
var data = [];
{% for category in tripCategories %}
  labels.push("{{ category['category_label'] }}");
  data.push("{{ category['percentage'] }}");
{% endfor %}
numberOfCategories = labels.length;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript" src="/static/myChart.js"></script>
{% endif %}


{% include 'editTransactionModals.html' %}

<!-- Trip Modal -->
<div class="modal fade" id="editTripModal">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content border-0">
      <div class="modal-header bg-primary text-white justify-content-center">
        <h1>Edit Trip</h1>
      </div>
      <div class="modal-body">
          <form id="editTripForm" style="text-align: left;" action="/trips/editTrip" method="post">
              <div class="form-group">
                <label for="editTripTitle" class="font-weight-bold">Trip Title:</label> <br>
                <input class="form-control w-100" name="editTripTitle" placeholder="Choose Trip Title" id="editTripTitle" type="text" value="{{ tripData['title'] }}" required>
              </div>
              <div class="form-group">
                <label for="editStartDate" class="font-weight-bold">Start Date:</label> <br>
                <input autofocus class="form-control w-100" name="editStartDate" placeholder="Enter Start Date" id="editStartDate" type="date" value="{{ tripData['startDate'] }}" required>
              </div>
              <div class="form-group">
                <label for="editEndDate" class="font-weight-bold">End Date:</label> <br>
                <input autofocus class="form-control w-100" name="editEndDate" placeholder="Enter End Date" id="editEndDate" type="date" value="{{ tripData['endDate'] }}" required>
              </div>
              <div class="form-group">
                <input class="form-control w-100" name="editTripId" id="editTripId" value="{{ tripData['id'] }}"type="hidden">
              </div>

          </form>
      </div>
      <div class="modal-footer">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <input type="submit" class="btn btn-primary btn-block" value="Save" form="editTripForm">
                      <input type="button" class="btn btn-default border-primary btn-block" value="Close" data-dismiss="modal">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
