{% extends "layout.html" %}

{% block title %}
    {{ tripData['title'] }}
{% endblock %}

{% block body %}
{% if tripData['SUM'] != '0.00' %}
onload="changeMonthTrip('curr')"
{% endif %}
{% endblock %}


{% block searchBar %}



{% endblock %}


{% block main %}



<div class="mb-5">
  <h1>{{ tripData['title'] }}</h1>
  <hr>
</div>

<div class="row justify-content-center mb-5">
  <div id="flags">
  </div>
</div>

<div class="row text-left">
  <div class="col-md-6 mb-4">
    <div class="col-12">
      <div class="row mb-2 bg-light p-2 rounded border">
        <span>{{ tripData['startDay'] }} {{ tripData['startMonth_name'] }}. {{ tripData['startYear'] }} - {{ tripData['endDay'] }} {{ tripData['endMonth_name'] }}. {{ tripData['endYear'] }}</span>
      </div>
      <div class="row mb-2 bg-light p-2 rounded border">
        <span>Duration: <b>{{ tripData['duration'] }} day{% if tripData['duration'] > 1 %}s{% endif %}</b></span>
      </div>
      <div class="row mb-2">
        <div class="col bg-light p-2 mr-4 rounded border">
          <span>Total expenses: <br><b>€ {{ tripData['SUM'] }}</b></span>
        </div>
        <div class="col bg-light p-2 rounded border">
          <span>Daily average spent: <br><b>€ {{ tripData['daily_average'] }}</b>{% if tripData['current'] %}<span class="badge badge-info ml-2">Current</span>{% endif %}</span>
        </div>
      </div>
      <div class="row">
          <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#editTripModal"=>Edit Trip</button>
          <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#deleteTripModal">Delete Trip</button>
      </div>

    </div>
  </div>
  {% if tripData['SUM'] != '0.00' %}
  <div class="col-md-6 mb-4">
    <canvas id="myChart" aria-label="chart" role="img"></canvas>
  </div>
  {% endif %}
</div>

{% if tripData['SUM'] != '0.00' %}
<div class="d-flex flex-row justify-content-center mt-5">
  <div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary material-icons" id="prev_month" onclick="changeMonthTrip('prev')">keyboard_arrow_left</button>
    <button type="button" class="btn btn-primary material-icons" id="next_month" onclick="changeMonthTrip('next')">keyboard_arrow_right</button>
  </div>
</div>

<div id="monthly_expenses">

</div>
{% endif %}

{% if tripData['SUM'] != '0.00' %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var labels = [];
var data = [];
{% for category in tripCategories %}
  labels.push("{{ category['category_label'] }}");
  data.push("{{ category['percentage'] }}");
{% endfor %}
numberOfCategories = labels.length;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript" src="/static/myChart.js"></script>
{% endif %}

<script>
{% for code in countryCodes %}
document.getElementById('flags').insertAdjacentHTML('afterend', '<img src="https://www.countryflags.io/' + '{{ code }}' + '/flat/64.png">')
{% endfor %}
</script>


{% include 'editTransactionModals.html' %}

<!-- Edit Trip Modal -->
<div class="modal fade" id="editTripModal">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content border-0">
      <div class="modal-header bg-primary text-white justify-content-center">
        <h1>Edit Trip</h1>
      </div>
      <div class="modal-body">
          <form id="editTripForm" style="text-align: left;" action="/editTrip" method="post">
              <div class="form-group">
                <label for="editTripTitle" class="font-weight-bold">Trip Title:</label> <br>
                <input class="form-control w-100" name="editTripTitle" placeholder="Choose Trip Title" id="editTripTitle" type="text" value="{{ tripData['title'] }}" required>
              </div>

              <div class="form-group">
                <label for="editStartDate" class="font-weight-bold">Start Date:</label> <br>
                <input autofocus class="form-control w-100" name="editStartDate" placeholder="Enter Start Date" id="editStartDate" type="date" value="{{ tripData['startDate'] }}" required>
              </div>

              <div class="form-group">
                <label for="editEndDate" class="font-weight-bold">End Date:</label> <br>
                <input autofocus class="form-control w-100" name="editEndDate" placeholder="Enter End Date" id="editEndDate" type="date" value="{{ tripData['endDate'] }}" required>
              </div>

              <div class="form-group">
                <label for="editTripCountries" class="font-weight-bold">Countries:</label> <br>
                <select class="selectpicker" name="editTripCountries" id="editTripCountries" multiple data-live-search="true">
                  {% for country in countries %}
                  <option value="{{ country['alpha2Code'] }}" {% if country['alpha2Code'].lower() in countryCodes %} selected="selected" {% endif %}>{{ country['name'] }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <input class="form-control w-100" name="editTripId" id="editTripId" value="{{ tripData['id'] }}"type="hidden">
              </div>

          </form>
      </div>
      <div class="modal-footer">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <input type="submit" class="btn btn-primary btn-block" value="Save" form="editTripForm">
                      <input type="button" class="btn btn-default border-primary btn-block" value="Close" data-dismiss="modal">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Trip Modal -->
<div class="modal fade" id="deleteTripModal">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content border-0">
      <div class="modal-header bg-primary text-white justify-content-center">
      </div>
      <div class="modal-body text-left">
        <p><u>Choose one of the following options regarding the transactions assigned to this trip:</u></p>
        <form id="deleteTripForm" style="text-align: left;" method="post" action="/deleteTrip">

          <div class="form-group">
            <input class="form-control w-100" name="deleteTripId" id="deleteTripId" type="hidden" value="{{ tripData['id'] }}">
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" id="option1" name="option" class="custom-control-input" value="option1" checked="checked">
            <label class="custom-control-label" for="option1">Delete all Transactions</label>
          </div>

          <div class="custom-control custom-radio mt-2">
            <input type="radio" id="option2" name="option" class="custom-control-input" value="option2">
            <label class="custom-control-label" for="option2">Reassign to other trip/Home</label>
          </div>

          <div class="form-group mt-4">
            <select class="form-control w-100" name="expTripReassign" placeholder="Enter Trip or Home" id="expTripReassign" type="text">
                <option selected value="1">Home</option>
                {% for trip in trips %}
                  <option value="{{ trip['id'] }}">{{ trip['title'] }}</option>
                {% endfor %}
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <input type="submit" class="btn btn-primary btn-block" value="Delete" form="deleteTripForm">
                      <input type="button" class="btn btn-default border-primary btn-block" value="Do not delete" data-dismiss="modal">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


<script>
var option2 = document.getElementById('option2')
var option1 = document.getElementById('option1')
var trips = document.getElementById('expTripReassign')

trips.disabled = true;

option1.addEventListener("click", function(e) {
  trips.disabled = true;
})

option2.addEventListener("click", function(e) {
  trips.disabled = false;
})


</script>



{% endblock %}
